<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title} + ' · DocManager'">DocManager</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="app-header" th:fragment="header">
    <a th:href="@{/web/metadata}">🏷️ Metadata Service</a>
    <nav>
        <a th:href="@{/web/metadata}">Metadados</a>
        <a th:href="@{/swagger-ui.html}" target="_blank">API Docs</a>
    </nav>
</header>
</body>
</html>
